<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julkvisset 2025</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Välkommen till 2FNA's Julkviss 2024</h1>
        <h2>Klicka på knappen nedan för att ansluta till Kvisset</h2>
        <button onclick="window.location.href='/participant'">Delta</button>
    </div>
</body>
</html>