<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julkvisset 2025</title>
</head>
<body>
    <h1>Välkommen till Julkvisset</h1>
    <a href="/host">Host</a>
    <a href="/participant">Participant</a>
</body>
</html>